p = "Sehr geehrte/r #{@user.full_name},"
p
  = 'wir freuen uns, dass Sie Ihr Konto auf Dianiño aktiviert haben.'
p
  = 'Im nächsten Schritt müssen Sie nun ihr Passwort setzen. Bitte klicken Sie hier:'
