'Sehr geehrte/r #{@user.full_name},'
'wir freuen uns, dass Sie Ihr Konto auf Dianiño aktiviert haben.'
'Im nächsten Schritt müssen Sie nun ihr Passwort setzen. Bitte klicken Sie hier: '
= edit_user_password_url(@user, reset_password_token: @token)
'.'
