= "Sehr geehrte/r #{@case.requestor_first_name} #{@case.requestor_last_name},\r\n"
= "\r\n"
= 'vielen Dank für Ihre Anfrage. Wir suchen eine passende Dianiño-Nanny. Diese meldet sich schnellstmöglich bei Ihnen.'
