p = "Sehr geehrte/r #{@case.requestor_first_name} #{@case.requestor_last_name},"
p
  = 'vielen Dank für Ihre Anfrage. Wir suchen eine passende Dianiño-Nanny. '
  = 'Diese meldet sich schnellstmöglich bei Ihnen.'
