p = "Sehr geehrte/r #{@case.requestor_first_name} #{@case.requestor_last_name},"
p
  = 'wir möchten Sie darüber informieren, dass unser Einsatz in Folge Ihrer Hilfsanfrage vom '
  = "#{l(@case.created_at, format: :short)} durch #{@case.user_full_name} abgeschlossen ist."
p
  = 'Vielen Dank, dass Sie auf die Unterstützung von Dianiño vertrauen. '
  = 'Falls Sie in Zukunft noch einmal Bedarf bei einem Ihrer Patienten sehen, '
  = 'fragen Sie uns gerne an. Wir unterstützen Sie gerne.'
