= "Hallo #{@case.user_full_name},\r\n"
= "\r\n"
= "vielen Dank für deinen Einsatz in diesem Fall #{@case.identifier}."
= 'Der wurde unsererseits abgeschlossen, die Aufwandsentschädigung geht in den '
= "nächsten Tagen auf das Konto mit der IBAN #{@case.user_bank_account_iban} ein."
