p = "Hallo #{@case.user_full_name},"
p
  = "vielen Dank für deinen Einsatz in diesem Fall #{@case.identifier}. "
  = 'Der wurde unsererseits abgeschlossen, '
  = 'die Aufwandsentschädigung geht in den nächsten Tagen auf '
  = "das Konto mit der IBAN #{@case.user_bank_account_iban} ein."
p
  = 'Die Abrechnung ist als Datei angehangen und kann jederzeit am Ende '
  = 'der Falldokumentation in deinem Nanny-Account heruntergeladen werden.'
