= "Sehr geehrte/r #{@case.requestor_first_name} #{@case.requestor_last_name},\r\n"
= "\r\n"
= 'wir können nur Anfragen von Ärzten/Ärztinnen oder Diabetesberater/innen bearbeiten. '
= 'Als solche konnten wir sie leider nach erster Prüfung nicht identifizieren. '
= 'Bitte senden Sie uns eine Bestätigung, dass Sie zu dieser Gruppe gehören '
= '(z.B. Link zu einer Website oder Fotodokument). Falls nicht, bitten Sie '
= 'ihr Diabetesteam, die Anfrage an uns zu schicken.'
