p = "Sehr geehrte/r #{@case.requestor_first_name} #{@case.requestor_last_name},"
p
  = 'leider können wir Ihre Anfrage nicht bearbeiten, '
  = 'da die angeforderte Hilfe nicht durch unsere Hilfsmöglichkeiten abgedeckt wird.'
p
  = 'Bitte Informieren Sie sich auf unserer Website '
  = link_to 'stiftung-dianino.de/so-hilft-dianino', 'https://stiftung-dianino.de/so-hilft-dianino', target: :blank
  = ' über unsere Arbeit oder rufen Sie uns bei Fragen unter 0160 96816878 an.'
