= "Sehr geehrte/r #{@case.requestor_first_name} #{@case.requestor_last_name},\r\n"
= "\r\n"
= 'leider können wir Ihre Anfrage nicht bearbeiten, '
= "da die angeforderte Hilfe nicht durch unsere Hilfsmöglichkeiten abgedeckt wird.\r\n"
= "\r\n"
= 'Bitte Informieren Sie sich auf unserer Website https://stiftung-dianino.de/so-hilft-dianino '
= 'über unsere Arbeit oder rufen Sie uns bei Fragen unter 0160 96816878 an.'
