= "Hallo #{@case.user_full_name},\r\n"
= "\r\n"
= "es gibt eine neue Hilfsanfrage bei der wir deine Unterstützung benötigen.\r\n"
= "\r\n"
= 'Bitte prüfe doch schnellstmöglich auf '
= @cta[:url]
= ", ob du helfen kannst.\r\n"
= "\r\n"
= "Wenn ja freuen wir uns, wenn du den Fall im System annimmst und Kontakt zu dem Anfragenden aufnimmst.\r\n"
= "\r\n"
= 'Wenn es nicht geht, bitte den Fall im System schnell ablehnen.'
