p = "Hallo #{@case.user_full_name},"
p = 'es gibt eine neue Hilfsanfrage bei der wir deine Unterstützung benötigen.'
p
  = 'Bitte prüfe doch schnellstmöglich hier '
  = link_to @cta[:title], @cta[:url]
  = ', ob du helfen kannst.'
p = 'Wenn ja freuen wir uns, wenn du den Fall im System annimmst und Kontakt zu dem Anfragenden aufnimmst.'
p = 'Wenn es nicht geht, bitte den Fall im System schnell ablehnen.'
