= "Hallo #{@case.requestor_first_name} #{@case.requestor_last_name},\r\n"
= "\r\n"
= "wir haben eine Dianiño-Nanny gefunden, die Ihren Fall übernimmt.\r\n"
= "\r\n"
= "#{@case.user_full_name} wird sich schnellstmöglich mit Ihnen "
= "in Verbindung setzen und alle weiteren Schritte besprechen.\r\n"
