- provide :head_tags do
  == javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_KEY']}"
  meta name="turbolinks-visit-control" content="reload"
  script
    | document.addEventListener("DOMContentLoaded", function(){
    |   initMap(#{@case.child_location_coordinates}, #{for_google_maps(@nannies)}, #{@case.id})
    | });
.row
  .col-sm-3
    h3 = t('.search_radius')
  .col-sm-9
    .form-inline
      .form-group
        = label_tag :child_address, t('.zip')
        = text_field_tag :child_address, @case.child_zip, disabled: true, class: 'form-control mx-sm-3'
hr

ul.nav.nav-tabs role="tablist"
  li.nav-item
    a#listTab.nav-link.active aria-controls="list" aria-selected="true" data-toggle="tab" href="#listView" role="tab"
      = t('.list_view')
  li.nav-item
    a#mapTab.nav-link aria-controls="map" aria-selected="false" data-toggle="tab" href="#mapView" role="tab"
      = t('.map_view')
.tab-content
  #listView.tab-pane.fade.show.active aria-labelledby="listTab" role="tabpanel"
    .grid
      == grid(@nannies_grid, show_filters: :always) do |g|
        - g.column name: t('.distance_in_km') do |nanny|
          - number_to_human(nanny.address.location.distance_to(@case.child_location_coordinates) * 1000,
              units: :distance)
        ruby:
          g.column name: t('.surname'), &:address_last_name
          g.column name: t('.first_name'), &:address_first_name
          g.column name: t('.address'), filter: false, &:location_address
          g.column name: t('.languages'), filter: false, &:languages
        - g.column name: t('.request_nanny') do |nanny|
          - link_to t('.show_nanny'), case_show_nanny_path(case_id: @case.id, id: nanny.id),
              class: 'btn btn-primary'
  #mapView.tab-pane.fade aria-labelledby="mapTab" role="tabpanel"
    .map#map
