== grid(@cases_grid, show_filters: :no, hide_csv_button: false, upper_pagination_panel: false) do |g|
  - g.blank_slate do
    - 'Keine Fälle gefunden.'
  - g.column name: t('.case_id'), attribute: 'identifier', &:identifier
  - g.column name: t('.date'), attribute: 'created_at', filter_type: :bootstrap_datepicker do |the_case|
    - l(the_case.created_at, format: :date)
  - g.column name: t('.child_zip'), attribute: 'zip', assoc: :child
  - g.column name: t('.requestor'), filter: false, assoc: %i[requestor address], attribute: 'last_name' do |the_case|
    - the_case.requestor.address_full_name
  - g.column name: t('.doctor'), filter: false, assoc: %i[requestor doctor_address],
          attribute: 'last_name' do |the_case|
    - the_case.requestor.doctor_address_full_name
  - g.column name: t('.status'), attribute: 'aasm_state', custom_filter: case_state_filter do |the_case|
    - t("activerecord.attributes.case.aasm_states.#{the_case.aasm_state}")
  - if current_user.admin?
    - g.column name: t('.nanny'), attribute: 'name', assoc: :user
  - g.column name: t('.request'), filter: false, in_csv: false do |the_case|
    - link_to dashboard_case_link(the_case), class: 'btn btn-primary' do
      span.fas.fa-search = t('.details')
