tr.d-flex.nested-fields
  td.col-sm-5.d-flex.flex-column.justify-content-between
    .row
      .col-sm-12
        .font-weight-bold.deployment-header = t('.commitment_number', number: (f.options[:child_index].to_i + 1))
    .row
      .col-sm-12.form-group.col-form-label
        = link_to_remove_association t('.remove_deployment'), f
  td.col-sm-7
    = f.input :started_on, as: :string, label: t('.start_date'), input_html: { class: 'datepicker',
      value: l(f.object.started_on, format: :date) }, wrapper: :horizontal_form
    = f.input :duration, label: t('.duration'), wrapper: :horizontal_form
    = f.input :distance, label: t('.distance'), input_html: { class: 'deployment-duration' },
      wrapper: :horizontal_form
