= simple_form_for(the_case, defaults: { input_html: { class: 'form-inline' } }, html: { role: 'check-modified' }) do |f|
  .card.mb-4
    .card-body
      p.card-text
        / Requestor and clinic infor section
        table.table.table-head-noborder
          tbody
            tr.d-flex
              td.col-sm-6
                h5.font-weight-bold = t('.requestor_info')
              td.col-sm-6
            / tr.d-flex
            /   td.col-sm-6 = t('.state')
            /   td.col-sm-6 = the_case.requestor_state
            tr.d-flex
              td.col-sm-6 = t('.requestor_first_name')
              td.col-sm-6 = the_case.requestor_first_name
            tr.d-flex
              td.col-sm-6 = t('.requestor_last_name')
              td.col-sm-6 = the_case.requestor_last_name
            tr.d-flex
              td.col-sm-6 = t('.function')
              td.col-sm-6 = the_case.requestor_function&.text
            tr.d-flex
              td.col-sm-6 = t('.email')
              td.col-sm-6 = the_case.requestor_email
            tr.d-flex
              td.col-sm-6 = t('.phone_number')
              td.col-sm-6 = the_case.requestor_phone
            tr.d-flex
              td.col-sm-6 = t('.doctor_name')
              td.col-sm-6 = the_case.doctor_address_full_name
            tr.d-flex
              td.col-sm-6 = t('.clinic_name')
              td.col-sm-6 = the_case.clinic_name
            tr.d-flex
              td.col-sm-6 = t('.clinic_zip')
              td.col-sm-6 = the_case.clinic_zip
            tr.d-flex
              td.col-sm-6 = t('.request_date')
              td.col-sm-6 = l(the_case.created_at, format: :date)

  .card.mb-4
    .card-body
      p.card-text
        / Child info section
        table.table.table-head-noborder
          tbody
            tr.d-flex
              td.col-sm-6
                h5.font-weight-bold = t('.child_data')
              td.col-sm-6
            tr.d-flex
              td.col-sm-6 = t('.child_age')
              td.col-sm-6 = the_case.child_age
            tr.d-flex
              td.col-sm-6 = t('.child_zip')
              td.col-sm-6 = the_case.child_zip

            tr.d-flex
              td.col-sm-6 = t('.child_phone')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.input :phone, label: false
            tr.d-flex
              td.col-sm-6 = t('.child_first_manifestation_age')
              td.col-sm-6 = the_case.age_when_disease_manifested.to_i
            tr.d-flex
              td.col-sm-6 = t('.diabetes_duration')
              td.col-sm-6 = distance_of_time_in_words(the_case.created_at, the_case.child_manifested_on)
            tr.d-flex
              td.col-sm-6 = t('.therapy')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.input :therapy, as: :radio_buttons, collection: therapy_list, label: false,
                              wrapper: :horizontal_collection_inline
            tr.d-flex
              td.col-sm-6 = t('.child_sex')
              td.col-sm-6 = the_case.child_gender_text
            tr.d-flex
              td.col-sm-6 = t('.child_nationality')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.input :nationality, as: :radio_buttons,
                              collection: nationalities_other_list,
                              label: false, wrapper: :horizontal_collection_inline
                  .child_nationality_is_other
                    = fc.input :nationality_other, label: t('.child_nationality_other')
            tr.d-flex
              td.col-sm-6 = t('.child_refugee')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.input :refugee, as: :radio_buttons, label: false, wrapper: :horizontal_collection_inline
            tr.d-flex
              td.col-sm-6 = t('.german_speaking')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.input :german_speaking, as: :radio_buttons, label: false,
                    checked: check_yes_for_radio_button?(fc.object&.language&.de?),
                    wrapper: :horizontal_collection_inline,
                    input_html: { class: 'german-speaker' }, readonly: nil

            tr.d-flex.child_language_is_german
              td.col-sm-6 = t('.child_language')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.input :language, as: :check_boxes, collection: languages_list, label: false,
                    include_blank: false, include_hidden: false,
                    input_html: { class: 'select-language', multiple: true }
            tr.d-flex.child_language_is_german.child_language_is_other
              td.col-sm-6 = t('.child_language_other')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.input :language_other, as: :string, label: false
            tr.d-flex
              td.col-sm-6 = t('.child_environment')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.input :environment, as: :select, collection: Child.environment.options, label: false,
                    input_html: { class: 'custom-select' }
            tr.d-flex
              td.col-sm-6 = t('.celiac_disease')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.input :celiac_disease, as: :boolean, label: t('simple_form.yes')
            tr.d-flex
              td.col-sm-6 = t('.mental_handicap')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.fields_for :diseases, OpenStruct.new(fc.object.diseases) do |d|
                    = d.input :mental_handicap, as: :boolean, label: t('simple_form.yes')
            tr.d-flex
              td.col-sm-6 = t('.chronic_illness')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.fields_for :diseases, OpenStruct.new(fc.object.diseases) do |d|
                    = d.input :chronic_illness, as: :boolean, label: t('simple_form.yes')
                    .chronic_illness_type
                      = d.input :chronic_illness_type, label: t('.chronic_illness_type')
            tr.d-flex
              td.col-sm-6 = t('.other_general_comments')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.fields_for :diseases, OpenStruct.new(fc.object.diseases) do |d|
                    = d.input :other_general_comments, as: :text, label: false
            tr.d-flex
              td.col-sm-6 = t('.start_date')
              td.col-sm-6
                = f.input :started_on, as: :string, input_html: { class: 'datepicker' }, label: false
            tr.d-flex
              td.col-sm-6 = t('.finished_on')
              td.col-sm-6
                = f.input :finished_on, as: :string, input_html: { class: 'datepicker' }, label: false

  .card.mb-4
    .card-body
      p.card-text
        / Child env section
        table.table.table-head-noborder
          tbody
            tr.d-flex
              td.col-sm-6
                h5.font-weight-bold = t('.supervision')
              td.col-sm-6
            tr.d-flex
              td.col-sm-6 = t('.operational_environment')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.input :operational_env, as: :check_boxes, label_text: false
            tr.d-flex
              td.col-sm-6 = t('.mission_content')
              td.col-sm-6
                = f.fields_for :child do |fc|
                  = fc.input :operational_reason, as: :check_boxes, label_text: false

  .card.mb-4
    .card-body
      p.card-text
        / Case deployments section
        table.table.table-head-noborder
          tbody
            tr.d-flex
              td.col-sm-6
                h5.font-weight-bold = t('.deployment_documentation')
              td.col-sm-6
            tr.d-flex
              td.col-sm-6 = t('.flyer_handover')
              td.col-sm-6
                = f.input :flyer_handed, as: :radio_buttons, label: false, wrapper: :horizontal_collection_inline
            tr.d-flex
              td.col-sm-6 = t('.dianino_initiative')
              td.col-sm-6
                = f.input :initiated_by, collection: initiated_by_list, label: false,
                  input_html: { class: 'custom-select' }
            = f.fields_for :case_deployments do |builder|
              = render '/cases/case_deployment_fields', f: builder
            tr.d-flex.after-case-deployments
              td.col-sm-12
                .links
                  = link_to_add_association t('.add_deployment'), f, :case_deployments,
                    class: 'btn btn-danger float-right',
                    data: { 'association-insertion-node' => 'tr.after-case-deployments',
                    'association-insertion-method' => 'before' },
                    partial: '/cases/case_deployment_fields'
            tr.d-flex
              td.col-sm-6.font-weight-bold = t('.total_deployments_number')
              td.col-sm-6
                span.font-weight-bold.total-deployments-count
                  = the_case.case_deployments.count
            tr.d-flex
              td.col-sm-6.font-weight-bold = t('.total_deployments_distance')
              td.col-sm-6
                span.font-weight-bold.total-deployments-distance
                  = the_case.case_deployments.sum(:distance)

  .card.mb-4
    .card-body
      p.card-text
        table.table.table-head-noborder
          tbody
            tr.d-flex
              td.col-sm-6 = t('.comments')
              td.col-sm-6
                = f.input :comments, as: :text, label: false, placeholder: t('.comments_placeholder')

  .row.mb-1
    .col-sm-12
      = f.submit t('.save'), class: 'btn btn-primary float-right'

.row.mb-4
  .col-sm-4
  .col-sm-4.text-center
    .form_has_changed
      .alert.alert-danger role="alert"
        .alert-icon
          i.flaticon-questions-circular-button
        .alert-text = t('.plase_save_before_end_case')
    = button_to t('.end_and_send_case'), case_finish_path(the_case), class: 'btn btn-success end_and_send_case',
                method: :put
  .col-sm-4

- content_for :javascript_ext do
  = javascript_include_tag 'snippets/editCaseForm'
