- if form&.errors&.any?
  .alert.fade.show role="alert" class="alert-danger"
    .alert-icon
      i.flaticon-warning
    .alert-text
      ul
        - form.errors.full_messages.each do |error|
          li
            = error
    .alert-close
      button.close aria-label="Close" data-dismiss="alert" type="button"
        span aria-hidden="true"
          i.la.la-close

= simple_form_for(form, defaults: { input_html: { class: 'form-inline' } }) do |f|
  h3 = t('.inquirer_data_title')
  = f.label :address_first_name, t('.requester_name'), required: true
  = f.input :address_first_name, placeholder: t('activerecord.attributes.address.first_name'),
    label: false, required: true
  = f.input :address_last_name, placeholder: t('activerecord.attributes.address.last_name'),
    label: false, required: true
  = f.input :requestor_email, as: :email, placeholder: t('.email_placeholder'),
    label: t('.email'), required: true
  = f.input :requestor_phone, as: :tel, placeholder: t('.phone_placeholder'),
    label: t('.phone'), required: true
  = f.input :requestor_function, collection: functions_list, label: t('.function'),
    required: true, input_html: { class: 'custom-select' }
  .requestor_is_consultant
    = f.input :doctor_address_name, placeholder: t('activerecord.attributes.address.name'),
      label: t('.doctor_name'), required: true
    = f.input :requestor_consent, as: :boolean, label: t('.consent')
  = f.input :clinic_name, label: t('.clinic_name'), placeholder: t('.name_placeholder'), required: true
  = f.input :clinic_zip, label: t('.zip'), placeholder: t('.zip_placeholder'), required: true
  = f.input :requestor_confirmed, as: :boolean, label: t('.confirmed'),
    input_html: { checked: form.requestor_confirmed }, required: true
  hr.mb-4
  h3 = t('.child_data_title')
  = f.input :child_zip, label: t('.child_zip'), placeholder: t('.zip_placeholder'), required: true
  = f.input :child_year_of_birth, as: :numeric, label: t('.child_year_of_birth'),
    placeholder: t('.child_year_of_birth'), required: true
  = f.input :child_gender, collection: gender_list, required: true, label: t('.gender'),
    input_html: { class: 'custom-select' }
  = f.input :german_speaking, as: :radio_buttons, label: t('.german_speaking'),
      wrapper: :horizontal_collection_inline,
      input_html: { class: 'german-speaker' }, required: true, readonly: nil
  .child_language_is_german
    = f.input :child_language, as: :check_boxes, collection: languages_list, required: true,
      input_html: { class: 'select-language', multiple: true },
      label: t('.language_label')
    .child_language_is_other
      = f.input :child_language_other, label: t('.language_other_label')
  = f.input :child_manifested_on, as: :string,
    input_html: { 'data-provide': 'datepicker', 'data-date-format': 'dd.mm.yyyy', 'data-date-language': 'de',
    'data-date-autoclose': true, value: l(form.child_manifested_on) }, required: true,
    label: t('.first_manifestation_date')
  hr.mb-4
  h3 = t('.help_contents_title')
  - if f.object.errors.messages[:help_service_assignment].present?
    = f.error_notification message: f.object.errors.messages[:help_service_assignment].to_sentence
  = f.fields_for :help_service_assignments do |hsa|
    = hsa.error_notification message: hsa.object.errors[:base].to_sentence
    = hsa.input :help_service_id, as: :hidden
    = hsa.input :assignee_type, as: :hidden
    = hsa.input :assignee_id, as: :boolean, label: hsa.object.help_service_description
  hr.mb-4
  h3 = t('.data_protection_title')
  = f.input :terms_of_use, as: :boolean, label: t('.term_of_use_text'),
    input_html: { checked: form.terms_of_use.to_boolean }, required: true
  hr.mb-4
  = f.input :comments, as: :text, label: t('.comments')
  = f.submit t('send'), class: 'btn btn-danger btn-lg mb-4'

- content_for :javascript_ext do
  = javascript_include_tag 'snippets/caseForm'
