.row
  .col-sm-12
    = link_to t('.save'), '#', class: 'btn btn-danger float-right save-case-button'

.mb-3

.row
  .col-sm-12
    .card.mb-4
      .card-body
        h3.card-title = t('.documentation')
        p.card-text
          table.table.table-head-noborder
            tbody
              tr.d-flex
                td.col-sm-6 = t('.case')
                td.col-sm-6 = @case.identifier
              tr.d-flex
                td.col-sm-6 = t('.nanny')
                td.col-sm-6 = @case.user_full_name

= render '/cases/edit_form', the_case: @case
