.container
  .row
    .col-sm-12
      .card.mb-4
        .card-body
          h3.card-title = t('.help_request')
          p.card-text
            table.table.table-head-noborder
              tbody
                tr
                  td style="width: 30rem" = t('.case')
                  td = @case.identifier
                tr
                  td = t('.nanny')
                  td = @case.user_full_name
                tr
                  td = t('.status')
                  td = t("activerecord.attributes.case.aasm_states.#{@case.aasm_state}")
                tr
                  td = t('.comments')
                  td = @case.comments
  .row
    .col-sm-12
      .card.mb-4
        .card-body
          h5.card-title = t('.data_requestor')
          p.card-text
            table.table.table-head-noborder
              tbody
                tr
                  td style="width: 30rem" = t('.requestor.name')
                  td = @case.requestor&.address&.full_name
                tr
                  td = t('.requestor.function')
                  td = @case.requestor_function&.text
                tr
                  td = t('.requestor.email')
                  td = @case.requestor_email
                tr
                  td = t('.requestor.phone')
                  td = @case.requestor_phone
                - unless @case.requestor_function == :doctor
                  tr
                    td = t('.requestor.name_doctor')
                    td = @case.requestor&.doctor_address_full_name
                  tr
                    td = t('.requestor.consent')
                    td = @case.requestor_consent&.humanize
                tr
                  td = t('.requestor.name_clinic')
                  td = @case.clinic_name
                tr
                  td = t('.requestor.zip_clinic')
                  td = @case.clinic_zip
                tr
                  td = t('.created_at')
                  td = l @case.created_at, format: :short
  .row
    .col-sm-12
      .card.mb-4
        .card-body
          h5.card-title = t('.data_child')
          p.card-text
            table.table.table-head-noborder
              tbody
                tr
                  td style="width: 30rem" = t('.child.zip')
                  td = @case.child_zip
                tr
                  td = t('.child.year_of_birth')
                  td = @case.child_year_of_birth
                tr
                  td = t('cases.edit_form.diabetes_duration')
                  td = distance_of_time_in_words(@case.created_at, @case.child_manifested_on)
                tr
                  td = t('.child.gender')
                  td = @case.child_gender&.text
                tr
                  td = t('.child.language')
                  td = case_language(@case)
                - if @case.child_nationality
                  tr
                    td = t('cases.edit_form.child_nationality')
                    td = case_nationality(@case)
                - if show_case_completed_details? @case
                  tr
                    td = t('cases.edit_form.child_refugee')
                    td = @case.child_refugee&.humanize
                tr
                  td = t('.child.manifestation')
                  td = @case.child_manifested_on&.date_month_year
                tr
                  td = t('cases.edit_form.child_first_manifestation_age')
                  td = @case.age_when_disease_manifested&.to_i
                - if show_case_completed_details? @case
                  tr
                    td = t('cases.edit_form.therapy')
                    td = I18n.t("activerecord.attributes.child.therapy.#{@case.child_therapy}")
                  tr
                    td = t('cases.edit_form.child_environment')
                    td = @case.child_environment&.text
                  tr
                    td = t('cases.edit_form.celiac_disease')
                    td = @case.child_celiac_disease&.humanize
                  - if @case.child_diseases&.any?
                    tr
                      td = t('cases.edit_form.mental_handicap')
                      td = child_diseases_to_bool(@case.child_diseases['mental_handicap'])
                    tr
                      td = t('cases.edit_form.chronic_illness')
                      td = child_chronic_illness(@case.child_diseases['chronic_illness'],
                            @case.child_diseases['chronic_illness_type'])
                    tr
                      td = t('cases.edit_form.other_general_comments')
                      td = @case.child_diseases['other_general_comments']
                  tr
                    td = t('cases.edit_form.start_date')
                    td = @case.started_on&.date_month_year
  - if show_case_completed_details? @case
    .row
      .col-sm-12
        .card.mb-4
          .card-body
            h5.card-title = t('cases.edit_form.supervision')
            p.card-text
              table.table.table-head-noborder
                tbody
                  tr
                    td style="width: 30rem" = t('cases.edit_form.operational_environment')
                    td
                      ul
                        - @case.child_operational_env.each do |op_env|
                          li = op_env.text

                  tr
                    td = t('cases.edit_form.mission_content')
                    td
                      ul
                        - @case.child_operational_reason.each do |op_reason|
                          li = op_reason.text
                  tr
                    td = t('cases.edit_form.finished_on')
                    td = @case.finished_on&.date_month_year
  .row
    .col-sm-12
      .card.mb-4
        .card-body
          h5.card-title = t('.help_services')
          p.card-text
            - if @case.help_service_assignments.any?
              table.table.table-head-noborder
                tbody
                  - @case.help_service_assignments.each do |service|
                    tr
                      td style="width: 30rem" = service.help_service_description
            - else
                = t('.no_help_services')
  - if show_case_completed_details? @case
    .row
      .col-sm-12
        .card.mb-4
          .card-body
            h5.card-title = t('cases.edit_form.deployment_documentation')
            p.card-text
              table.table.table-head-noborder
                tbody
                  tr
                    td style="width: 30rem" = t('cases.edit_form.flyer_handover')
                    td = @case.flyer_handed.humanize
                  tr
                    td = t('cases.edit_form.dianino_initiative')
                    td = @case.initiated_by&.text
                  - @case.case_deployments.each_with_index do |case_deployment, i|
                    tr
                      td
                        b = t('cases.case_deployment_fields.commitment_number', number: i + 1)
                      td
                    tr
                      td = t('cases.case_deployment_fields.start_date')
                      td = l case_deployment.started_on, format: :date
                    tr
                      td = t('cases.case_deployment_fields.duration')
                      td = case_deployment.duration
                    tr
                      td = t('cases.case_deployment_fields.distance')
                      td = case_deployment.distance
                  tr
                    td &nbsp;
                    td
                  tr
                    td = t('cases.edit_form.total_deployments_number')
                    td = @case.case_deployments.count
                  tr
                    td = t('cases.edit_form.total_deployments_distance')
                    td = @case.case_deployments.sum(:distance)
                  tr
                    td &nbsp;
                    td
                  tr
                    td = t('cases.edit_form.comments')
                    td = @case.comments
    - if current_user.admin? || (current_user.nanny? && show_case_completed_details?(@case))
      .row
        .col-sm-12
          .card.mb-4
            .card-body
              h5.card-title = t('.accounting')
              p.card-text
                table.table.table-head-noborder
                  tbody
                    tr
                      td style="width: 30rem" = t('.sum_for_deployments')
                      td = number_to_currency(sum_for_deployments(@case))
                    tr
                      td = t('.sum_for_distance')
                      td = number_to_currency(sum_for_distance(@case))
                    tr
                      td = t('.total_sum')
                      td = number_to_currency(sum_for_all(@case))

      .row
        .col-sm-12
          .card.mb-4
            .card-body
              h5.card-title = t('.nanny')
              p.card-text
                table.table.table-head-noborder
                  tbody
                    tr
                      td style="width: 30rem" = t('.nanny_info.salutation')
                      td = @case.user_salutation
                    tr
                      td = t('.nanny_info.first_name')
                      td = @case.user&.address_first_name
                    tr
                      td = t('.nanny_info.last_name')
                      td = @case.user&.address_last_name
                    tr
                      td = t('.nanny_info.address')
                      td = @case.user&.location_address
                    tr
                      td = t('.nanny_info.bic')
                      td = @case.user&.bank_account_bic
                    tr
                      td = t('.nanny_info.iban')
                      td = @case.user&.bank_account_iban
                    tr
                      td = t('.nanny_info.account_holder')
                      td = @case.user&.bank_account_account_holder
  .row
    .col-sm-12
      .card
        .card-body
          / TODO: Refactor
          - if @case.may_request? && current_user.admin?
            = link_to t('.search_nanny'), case_search_nannies_path(@case), class: 'btn btn-primary'
            = link_to t('.reject'), case_reject_path(@case), method: :put, class: 'btn btn-danger'
            = link_to t('.discard'), case_discard_path(@case), method: :put, class: 'btn btn-warning'
          - elsif @case.may_run? && current_user.nanny?
            = link_to t('.accept_case'), case_accept_path(@case), method: :put, class: 'btn btn-primary'
            = link_to t('.refuse'), case_refuse_path(@case), method: :put, class: 'btn btn-danger'
          - elsif @case.may_run? && current_user.admin?
            = t('.nanny_being_searched')
          - elsif @case.may_complete? && current_user.admin?
            = link_to t('.complete_case'), case_complete_path(@case), method: :put, class: 'btn btn-primary'
            = link_to t('.edit_case'), edit_case_path(@case), class: 'btn btn-secondary'
          - elsif @case.completed?
            = link_to t('.pdf'), case_pdf_path(@case), class: 'btn btn-secondary', target: :blank
          - elsif @case.may_reset? && current_user.admin?
            = link_to t('.reset_case'), case_reset_path(@case), method: :put, class: 'btn btn-danger'
