= simple_form_for(user, defaults: { input_html: { class: 'form-inline' } }) do |f|
  h3 = t('.address_title')
  hr.mb-4
  = f.simple_fields_for :address do |a|
    = a.input :salutation, placeholder: t('activerecord.attributes.address.salutation')
    = a.input :first_name, placeholder: t('activerecord.attributes.address.first_name')
    = a.input :last_name, placeholder: t('activerecord.attributes.address.last_name')
    = a.input :street, placeholder: t('activerecord.attributes.address.street')
    = a.input :zip, placeholder: t('activerecord.attributes.address.zip')
    = a.input :city, placeholder: t('activerecord.attributes.address.city')
  h3 = t('.data_title')
  hr.mb-4
  = f.input :other_language, as: :boolean
  .other_language
    = f.input :language, label: false, collection: user_languages_list
  = f.input :language_other
  = f.simple_fields_for :user_info do |ui|
    = ui.input :birthday, as: :string, placeholder: t('activerecord.attributes.user_info.birthday'),
               input_html: { 'data-provide': 'datepicker',
                             'data-date-format': 'dd.mm.yyyy',
                             'data-date-language': 'de',
                             'data-date-autoclose': true,
                             value: l(ui.object.birthday) }
    = ui.input :occupation, placeholder: t('activerecord.attributes.user_info.occupation')
    = ui.input :reference_to_diabetes, as: :check_boxes, collection: reference_to_diabetes_list,
            label: t('activerecord.attributes.user_info.reference_to_diabetes')
  = f.association :care_ages, as: :check_boxes, label_method: :description
  = f.association :help_services, as: :check_boxes, label_method: :description, value_method: :id,
          label: t('activerecord.attributes.user.help_service_assignments')
  h3 = t('.contact_title')
  hr.mb-4
  = f.simple_fields_for :address do |ua|
    = ua.input :phone_private, label: t('activerecord.attributes.address.phone_private')
    = ua.input :phone_mobile, label: t('activerecord.attributes.address.phone_mobile')
    = ua.input :phone_business, label: t('activerecord.attributes.address.phone_business')
    = ua.input :email_business, label: t('activerecord.attributes.address.email_business')
  h3 = t('.bank_title')
  hr.mb-4
  = f.simple_fields_for :bank_account do |ba|
    = ba.input :account_holder, placeholder: t('activerecord.attributes.bank_account.account_holder')
    = ba.input :iban, placeholder: t('activerecord.attributes.bank_account.iban')
    = ba.input :bic, placeholder: t('activerecord.attributes.bank_account.bic')
  h3 = t('.profile_title')
  hr.mb-4
  = f.input :email, as: :email, placeholder: t('activerecord.attributes.user.email'), required: true
  = f.input :password, as: :password, placeholder: t('activerecord.attributes.user.password'),
          required: true
  = f.input :password_confirmation, as: :password, required: true,
          placeholder: t('activerecord.attributes.user.password_confirmation')
  hr.mb-4
    = f.submit t('.save'), class: 'btn btn-primary btn-lg mb-4'
    = link_to t('.delete'), user, method: :delete, data: { confirm: t('.confirm_delete') },
            class: 'btn btn-danger btn-lg mb-4', style: 'float:right;'
