<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= simple_form_for(user, html: { class: 'form-inline' }) do |f| %>
    <%= f.select(:role, UsersHelper.roles) %>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
