.container
  .row
    .col-sm-12
      .card.mb-2
        .card-body
          h3.card-title = t('.nanny_info')
          p.card-text
            table.table.table-head-noborder
              tbody
                tr
                  td style="width: 30rem" = t('.salutation')
                  td = @user.salutation
                tr
                  td = t('.name')
                  td = @user.full_name
                tr
                  td = t('.address')
                  td = simple_format(@user.full_address)
                tr
                  td = t('.email')
                  td = @user.email
                tr
                  td = t('.language')
                  td = @user.languages
                tr
                  td = t('.user_info.birthday')
                  td = l(@user.user_info&.birthday)
                tr
                  td = t('.language')
                  td = @user.languages
                tr
                  td = t('.user_info.occupation')
                  td = @user.user_info&.occupation
                tr
                  td = t('.user_info.reference_to_diabetes')
                  td = reference_to_diabetes_text(@user.reference_to_diabetes)
                tr
                  td = t('.care_ages')
                  td
                    ul
                      - @user.care_ages.each do |u|
                        li = u.description
                tr
                  td = t('.help_services')
                  td
                    ul
                      - @user.help_services.each do |u|
                        li = u.description
                tr
                  td = t('.phone_private')
                  td = @user.phone_private
                tr
                  td = t('.phone_mobile')
                  td = @user.phone_mobile
                tr
                  td = t('.phone_business')
                  td = @user.phone_business
                tr
                  td = t('.email_business')
                  td = @user.email_business

  - if params[:case_id].present?
    .row
      .col-sm-12
        .card.mb-4
          .card-body
            = link_to t('.inquire'), case_request_nanny_path(case_id: params[:case_id], user_id: @user.id),
                    method: :put, class: 'btn btn-primary'
            = link_to t('.back'), :back, class: 'btn btn-secondary'
