<h3><%= t('.welcome') %></h3>
<p><%= t('.welcome_text_01') %></p>
<p><%= t('.welcome_text_02', mail_to: mail_to('kathy.dalinger@stiftung-dianino.de')).html_safe %></p>
<p><%= t('.welcome_text_03') %></p>
<p><%= t('.welcome_text_04') %></p>
<hr>
<p>
  <h5><%= t('.introduction') %></h5>
  <video width="100%" height="auto" controls>
    <source src="https://www.dropbox.com/s/dl8692uaxq33evy/Tutorial%20Dianino-Nannies_03.mp4?dl=1" type="video/mp4" />
  </video>
</p>
