/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require 1st_load_framework
 *= require wice_grid
 *= require component/fonts
 *= require component/search_nannies
 *= require component/flaticon
 *= require keen_theme
 *= require_self
 */

.btn:not(:first-child) {
  margin-left: 20px;
}

tr.d-flex td {
  border-top: 1px solid #dee2e6;
}

.requestor_is_consultant, .child_language_is_german, .child_language_is_other, .form_has_changed, .other_language {
  display: none;
  td {
    display: none;
  }
}

.modal-content {
  label {
    display: block;
  }
  label, textarea#discard_message {
    width: 100%;
  }
}
form #case_comments {
  min-height: 200px;
}

p {
  color: #000000;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.custom-select,
select.form-control:not([size]):not([multiple]) {
  height: auto;
}

.alert {
  a {
    color: #fff;
    font-weight: bold;
  }
}

.form-check-inline input.radio_buttons.form-check-input {
  margin-bottom: 6px;
}

.case_child_language {
  legend {
    display: none;
  }
}

#users_form_index {
  margin-left: -6%;
}
