= simple_form_for(@user, url: admin_user_path, method: :patch,
        defaults: { input_html: { class: 'form-inline' } }) do |f|
  h3 = 'Adresse-Informationen'
  hr.mb-4
    = f.fields_for :address do |a|
      = a.input :salutation, placeholder: t('activerecord.attributes.address.salutation'),
              label: t('activerecord.attributes.address.salutation'), required: true
      = a.input :first_name, placeholder: t('activerecord.attributes.address.first_name'),
              label: t('activerecord.attributes.address.first_name')
      = a.input :last_name, placeholder: t('activerecord.attributes.address.last_name'),
              label: t('activerecord.attributes.address.last_name')
      = a.input :street, placeholder: t('activerecord.attributes.address.street'),
              label: t('activerecord.attributes.address.street')
      = a.input :zip, placeholder: t('activerecord.attributes.address.zip'),
              label: t('activerecord.attributes.address.zip')
      = a.input :city, placeholder: t('activerecord.attributes.address.city'),
              label: t('activerecord.attributes.address.city')
    h3 = 'Benutzer-Informationen'
  hr.mb-4
    = f.input :email, as: :email, placeholder: t('activerecord.attributes.user.email'),
            label: t('activerecord.attributes.user.email'), required: true
    = f.input :role, collection: UsersHelper.roles,
            label: t('activerecord.attributes.user.role'), input_html: { class: 'custom-select' }
  .other_language
  = f.input :language, label: false, collection: all_languages,
          input_html: { class: 'custom-select', value: f.object.language.values }
  = f.input :language_other, label: t('activerecord.attributes.user.language_other')

  = f.fields_for :user_info do |ui|
    = ui.input :birthday, as: :string, label: t('activerecord.attributes.user_info.birthday'),
            placeholder: t('activerecord.attributes.user_info.birthday'),
            input_html: { 'data-provide': 'datepicker',
                    'data-date-format': 'dd.mm.yyyy',
                    'data-date-language': 'de',
                    'data-date-autoclose': true }
    = ui.input :occupation, placeholder: t('activerecord.attributes.user_info.occupation'),
            label: t('activerecord.attributes.user_info.occupation')
    = ui.input :reference_to_diabetes, as: :check_boxes, collection: reference_to_diabetes_list,
            label: t('activerecord.attributes.user_info.reference_to_diabetes'),
            checked: f.object.user_info.reload.attributes['reference_to_diabetes']
  hr.mb-4
  h3 = t('activerecord.attributes.user.help_services')
  = f.fields_for :help_service_assignments, @help_service_assignments do |hsa|
    = hsa.input :help_service_id, as: :hidden
    = hsa.input :assignee_type, as: :hidden
    = hsa.input :assignee_id, as: :boolean, label: hsa.object.help_service_description,
            input_html: { checked: !hsa.object.new_record? }
  hr.mb-4
  h3 = t('activerecord.attributes.user.care_ages')
  = f.fields_for :care_ages_users, @care_ages_users do |ca|
    = ca.input :id, as: :hidden
    = ca.input :care_age_id, as: :hidden
    = ca.input :user_id, as: :boolean, label: ca.object.care_age_description,
            input_html: { checked: !ca.object.new_record? }

  h3 = 'Kontaktdaten'
  hr.mb-4
  = f.fields_for :address do |a|
    = a.input :phone_private, placeholder: t('activerecord.attributes.address.phone_private'),
                              label: t('activerecord.attributes.address.phone_private')
    = a.input :phone_mobile, placeholder: t('activerecord.attributes.address.phone_mobile'),
                             label: t('activerecord.attributes.address.phone_mobile')
    = a.input :phone_business, placeholder: t('activerecord.attributes.address.phone_business'),
                               label: t('activerecord.attributes.address.phone_business')
    = a.input :email_business, placeholder: t('activerecord.attributes.address.email_business'),
                               label: t('activerecord.attributes.address.email_business')
  h3 = 'Kontoinformationen'
  hr.mb-4
  = f.fields_for :bank_account do |b|
    = b.hidden_field :id, value: b.object.id
    = b.input :account_holder, placeholder: t('activerecord.attributes.bank_account.account_holder'),
              label: t('activerecord.attributes.bank_account.account_holder')
    = b.input :iban, placeholder: t('activerecord.attributes.bank_account.iban'),
              label: t('activerecord.attributes.bank_account.iban')
    = b.input :bic, placeholder: t('activerecord.attributes.bank_account.bic'),
              label: t('activerecord.attributes.bank_account.bic')
  hr.mb-4
    = f.submit t('send'), class: 'btn btn-danger btn-lg mb-4'
