= simple_form_for(@form, url: admin_users_path, defaults: { input_html: { class: 'form-inline' } }) do |f|
  h3 = 'Adress-Informationen'
  hr.mb-4
    = f.input :address_salutation, placeholder: t('activerecord.attributes.address.salutation'),
              label: t('activerecord.attributes.address.salutation'), required: true
    = f.input :address_first_name, placeholder: t('activerecord.attributes.address.first_name'),
              label: t('activerecord.attributes.address.first_name')
    = f.input :address_last_name, placeholder: t('activerecord.attributes.address.last_name'),
              label: t('activerecord.attributes.address.last_name')
    = f.input :address_street, placeholder: t('activerecord.attributes.address.street'),
              label: t('activerecord.attributes.address.street')
    = f.input :address_zip, placeholder: t('activerecord.attributes.address.zip'),
              label: t('activerecord.attributes.address.zip')
    = f.input :address_city, placeholder: t('activerecord.attributes.address.city'),
              label: t('activerecord.attributes.address.city')
  h3 = 'Benutzer-Informationen'
  hr.mb-4
  = f.input :user_email, as: :email, placeholder: t('activerecord.attributes.user.email'),
            label: t('activerecord.attributes.user.email'), required: true
  = f.input :user_role, collection: UsersHelper.roles, label: t('activerecord.attributes.user.role'),
            input_html: { class: 'custom-select' }
  = f.hidden_field :user_password, value: @nr
  = f.hidden_field :user_password_confirmation, value: @nr
  .other_language
  = f.input :user_language, label: false, collection: user_languages_list,
            input_html: { class: 'custom-select' }
  = f.input :user_language_other, label: t('activerecord.attributes.user.language_other')
  = f.input :user_info_birthday, as: :string, label: t('activerecord.attributes.user_info.birthday'),
            placeholder: t('activerecord.attributes.user_info.birthday'),
            input_html: { 'data-provide': 'datepicker',
                          'data-date-format': 'dd.mm.yyyy',
                          'data-date-language': 'de',
                          'data-date-autoclose': true }
  = f.input :user_info_occupation, placeholder: t('activerecord.attributes.user_info.occupation'),
            label: t('activerecord.attributes.user_info.occupation')
  = f.input :user_info_reference_to_diabetes, as: :check_boxes,
            collection: reference_to_diabetes_list, label: t('activerecord.attributes.user_info.reference_to_diabetes')
  hr.mb-4
  h3 = t('activerecord.attributes.user.help_services')
  - if f.object.errors.messages[:help_service_assignment].present?
    = f.error_notification message: f.object.errors.messages[:help_service_assignment].to_sentence
  = f.fields_for :help_service_assignments do |hsa|
    = hsa.input :help_service_id, as: :hidden
    = hsa.input :assignee_type, as: :hidden
    = hsa.input :assignee_id, as: :boolean, label: hsa.object.help_service_description
  hr.mb-4
  h3 = 'Betreuungsalter'
  - if f.object.errors.messages[:care_ages_users].present?
    = f.error_notification message: f.object.errors.messages[:care_ages_users].to_sentence
  = f.fields_for :care_ages_users do |ca|
    = ca.input :care_age_id, as: :hidden
    = ca.input :user_id, as: :boolean, label: ca.object.care_age_description
  h3 = 'Kontaktdaten'
  hr.mb-4
  = f.input :address_phone_private, placeholder: t('activerecord.attributes.address.phone_private'),
            label: t('activerecord.attributes.address.phone_private')
  = f.input :address_phone_mobile, placeholder: t('activerecord.attributes.address.phone_mobile'),
            label: t('activerecord.attributes.address.phone_mobile')
  = f.input :address_phone_business, placeholder: t('activerecord.attributes.address.phone_business'),
            label: t('activerecord.attributes.address.phone_business')
  = f.input :address_email_business, placeholder: t('activerecord.attributes.address.email_business'),
            label: t('activerecord.attributes.address.email_business')
  h3 = 'Kontoinformationen'
  hr.mb-4
  = f.input :bank_account_account_holder, placeholder: t('activerecord.attributes.bank_account.account_holder'),
                                          label: t('activerecord.attributes.bank_account.account_holder')
  = f.input :bank_account_iban, placeholder: t('activerecord.attributes.bank_account.iban'),
                                label: t('activerecord.attributes.bank_account.iban')
  = f.input :bank_account_bic, placeholder: t('activerecord.attributes.bank_account.bic'),
                               label: t('activerecord.attributes.bank_account.bic')
  hr.mb-4
    = f.submit t('send'), class: 'btn btn-danger btn-lg mb-4'
