== grid(@users_grid, show_filters: :no, hide_csv_button: true, upper_pagination_panel: false) do |g|
  - g.action_column html_check_box: true
  - g.blank_slate do
    - 'Keine Fälle gefunden.'
  - g.column name: 'Nachname', filter: false, assoc: %i[address], attribute: 'last_name' do |user|
    - [user.address_last_name&.capitalize, { style: 'column-width:200px;' }]
  - g.column name: 'Vorname', filter: false, assoc: %i[address], attribute: 'first_name' do |user|
    - [user.address_first_name&.capitalize, { style: 'column-width:200px;' }]
  - g.column name: 'PLZ', filter: false, assoc: %i[address], attribute: 'zip' do |user|
    - [user.address_zip, { style: 'column-width:100px;' }]
  - g.column name: 'Tel. mobil', filter: false, assoc: %i[address], attribute: 'phone_mobile' do |user|
    - [user.address&.phone_mobile, { style: 'column-width:150px;' }]
  - g.column name: 'E-Mail', attribute: 'email' do |user|
    - [user.email, { style: 'column-width:300px;' }]
  - g.column name: 'Sprache(n)', attribute: 'language' do |user|
    - [user.languages, { style: 'column-width:80px;' }]
  - g.column name: 'Rolle', attribute: 'role' do |user|
    - [user.role&.capitalize, { style: 'column-width:50px;' }]
  - g.column name: 'Anfrage', filter: false, in_csv: false do |user|
    - (link_to 'Anzeigen', admin_user_path(user), class: 'ml-2 btn-primary btn-sm') + \
      (link_to 'Bearbeiten', edit_admin_user_path(user), class: 'ml-2 btn-primary btn-sm') + \
      (link_to 'Löschen', admin_user_path(user), method: :delete, class: 'ml-2 btn-danger btn-sm',
        id: "delete_#{user.id}", data: { confirm: t('.confirm_delete') })
