= form_with url: destroy_all_admin_users_path, html: { id: 'users_form_index' }, method: :post do
  .row[style='width: fit-content;']
    .d-flex.align-items-end.flex-column-reverse
      =render 'users_grid'
      p
        button.btn.btn-default[type="submit" data-confirm="#{t('.confirm_delete')}"] Ausgewählte Benutzer löschen
        = link_to 'Neuer Benutzer', new_admin_user_path, class: 'btn btn-primary'
        button.btn.btn-primary
              .wg-external-csv-export-button[data-grid-name="users"
                                             style="float: right;"] CSV exportieren
