.container
  .row
    .col-md-12.d-flex.justify-content-end
      = link_to t('admin.show.resend_confirmation_instructions'), resend_confirmation_instructions_admin_user_path(@user), class: 'btn btn-secondary my-2'
      = link_to t('admin.show.edit_user'), edit_admin_user_path(@user), class: 'btn btn-primary my-2'
      = link_to t('admin.show.delete_user'), admin_user_path(@user), class: 'btn btn-primary my-2', method: :delete

  .row
    .col-sm-12
      .card.mb-4
        .card-body
          h3.card-title = t 'admin.show.user_details'
          p.card-text
            table.table.table-head-noborder
              tbody
                tr
                  td style="width: 30rem" = t 'admin.show.salutations'
                  td = @user.address.salutation
                tr
                  td = t 'admin.show.name'
                  td = @user.full_name
                tr
                  td = t 'admin.show.address_street'
                  td = @user.address_street
                tr
                  td = t 'admin.show.address_zip'
                  td = @user.address_zip
                tr
                  td = t 'admin.show.address_city'
                  td = @user.address_city
                tr
                  td = t 'admin.show.location_address'
                  td = @user.location_address
                tr
                  td = t 'admin.show.birthday'
                  td = l(@user.user_info&.birthday)
                tr
                  td = t 'admin.show.occupation'
                  td = @user.user_info&.occupation
                tr
                  td = t 'admin.show.phone_private'
                  td = @user.phone_private
                tr
                  td = t 'admin.show.phone_mobile'
                  td = @user.phone_mobile
                tr
                  td = t 'admin.show.phone_business'
                  td = @user.phone_business
                tr
                  td = t 'admin.show.email_business'
                  td = @user.email_business
                tr
                  td = t 'admin.show.email'
                  td = @user.email
                tr
                  td = t 'admin.show.languages'
                  td = @user.languages
                tr
                  td = t 'admin.show.role'
                  td = @user.role&.capitalize
                tr
                  td = t 'admin.show.bank_account_account_holder'
                  td = @user.bank_account_account_holder
                tr
                  td = t 'admin.show.bank_account_bic'
                  td = @user.bank_account_bic
                tr
                  td = t 'admin.show.bank_account_iban'
                  td = @user.bank_account_iban
                tr
                  td = t 'admin.show.reference_to_diabetes'
                  td = reference_to_diabetes_text(@user.reference_to_diabetes)
                tr
                  td = t 'admin.show.language_other'
                  td = @user.language_other
                tr
                  td = t 'admin.show.reset_password_sent_at'
                  td = l @user.reset_password_sent_at, format: :short
                tr
                  td = t 'admin.show.created_at'
                  td = l @user.created_at, format: :short
                tr
                  td = t 'admin.show.updated_at'
                  td = l @user.updated_at, format: :short
                tr
                  td = t 'admin.show.confirmed_at'
                  td = l @user.confirmed_at, format: :short
                tr
                  td = t 'admin.show.confirmation_sent_at'
                  td = l @user.confirmation_sent_at, format: :short
                tr
                  td = t 'admin.show.care_ages'
                  td
                    ul[style="list-style-type:disc;"]
                      - @user.care_ages.each do |u|
                        li = u.description
                tr
                  td = t 'admin.show.help_services'
                  td
                    ul[style="list-style-type:disc;"]
                      - @user.help_services.each do |u|
                        li = u.description
                tr
                  td = t 'admin.show.cases'
                  td
                    ul[style="list-style-type:disc;"]
                    - @user.cases.each do |c|
                      li = link_to c.identifier, c
