/ Rails flash messages styled for Bootstrap 4.0
- flash.each do |name, msg|
  - if msg.is_a?(String)
    .alert.fade.show role="alert" class="alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"
      .alert-icon
        i.flaticon-warning
      .alert-text
        = content_tag :div, msg, id: "flash_#{name}"
      .alert-close
        button.close aria-label="Close" data-dismiss="alert" type="button"
          span aria-hidden="true"
            i.la.la-close

- if @case&.errors&.any?
  .alert.fade.show role="alert" class="alert-danger"
    .alert-icon
      i.flaticon-warning
    .alert-text
      ul
        - @case.errors.full_messages.each do |error|
          li
            = error
    .alert-close
      button.close aria-label="Close" data-dismiss="alert" type="button"
        span aria-hidden="true"
          i.la.la-close

- if show_complete_profile_flash?(current_user)
  .alert.fade.show role="alert" class="alert-danger"
    .alert-icon
      i.flaticon-warning
    .alert-text
      = t('.complete_profile')
      = link_to t('.here'), edit_user_path(current_user)
    .alert-close
      button.close aria-label="Close" data-dismiss="alert" type="button"
        span aria-hidden="true"
          i.la.la-close
