- if user_signed_in?
  - if current_user.admin?
    li.nav-item = link_to t('.dashboard'), cases_path, class: 'nav-link'
    li.nav-item.active = link_to t('.nanny_search'), '#', class: 'nav-link disabled completely-disabled'
    li.nav-item = link_to t('.admin'), admin_users_path, class: 'nav-link'
  - else
    li.nav-item = link_to t('.cases'), cases_path, class: 'nav-link'
    li.nav-item.active = link_to t('.documentation'), '#', class: 'nav-link disabled completely-disabled'
    li.nav-item = link_to t('.profile'), edit_user_path(current_user), class: 'nav-link'
