/ navigation styled for Bootstrap 4.0
.container
  nav.navbar.navbar-expand-lg.navbar-light
    = link_to image_tag('logo.png', width: '100px'), root_path, class: 'navbar-brand'
    button.navbar-toggler { aria-controls='navbarSupportedContent' aria-expanded='false'
      data-target='#navbarSupportedContent' data-toggle='collapse' type='button' }
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        = render 'layouts/navigation_links'
      - if user_signed_in?
        = link_to t('.sign_out'), destroy_user_session_path, method: 'delete', class: 'nav-link'
      - else
        = link_to t('.sign_in'), new_user_session_path, class: 'nav-link'
