doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title = content_for?(:title) ? yield(:title) : 'Dianino'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Dianino'}"
    == stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => 'reload'
    == javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    == javascript_include_tag 'https://www.stiftung-dianino.de/wp-content/themes/dianino/assets/dist/js/iframeResizer.contentWindow.min.js'

    == csrf_meta_tags
    == yield(:head_tags)
  body
    - unless content_for?(:hide_navigation)
      header
        == render 'layouts/navigation'
    main[role="main"]
      == render 'layouts/messages'
      == yield
