doctype html
html
  head
    meta charset="utf-8" /
    meta content="ie=edge" http-equiv="x-ua-compatible" /
    title Dianiño
    meta content="width=device-width, initial-scale=1" name="viewport" /
    css:
      | @media screen {
        | @font-face {
          | font-family: 'Open Sans';
          | font-style: normal;
          | font-weight: 400;
          | src: local('Open Sans Regular'),
                 local('OpenSans-Regular'),
                 url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff)
                 format('woff');
        | }

        | @font-face {
          | font-family: 'Open Sans';
          | font-style: normal;
          | font-weight: 700;
          | src: local('Open Sans Bold'),
                 local('OpenSans-Bold'),
                 url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff)
                 format('woff');
        | }
      | }

      | body,
      | table,
      | td,
      | a {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      | }

      | table,
      | td {
        | mso-table-rspace: 0pt;
        | mso-table-lspace: 0pt;
      | }

      | img {
        -ms-interpolation-mode: bicubic;
      | }

      | a[x-apple-data-detectors] {
        | font-family: inherit !important;
        | font-size: inherit !important;
        | font-weight: inherit !important;
        | line-height: inherit !important;
        | color: inherit !important;
        | text-decoration: none !important;
      | }

      | div[style*="margin: 16px 0;"] {
        | margin: 0 !important;
      | }

      | body {
        | width: 100% !important;
        | height: 100% !important;
        | padding: 0 !important;
        | margin: 0 !important;
      | }

      | table {
        | border-collapse: collapse !important;
      | }

      | a {
        | color: #1a82e2;
      | }

      | img {
        | height: auto;
        | line-height: 100%;
        | text-decoration: none;
        | border: 0;
        | outline: none;
      | }
  body style="background-color: #e9ecef;"
    .preheader style="display: none; max-width: 0; max-height: 0; overflow: hidden; font-size: 1px; line-height: 1px; color: #fff; opacity: 0;"
    table border="0" cellpadding="0" cellspacing="0" width="100%"
      tr
        td align="center" bgcolor="#e9ecef"
          table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;" width="100%"
            tr
              td align="center" style="padding: 36px 24px;" valign="top"
                a href="#{root_url}" style="display: inline-block;" target="_blank"
                  = image_tag 'logo.png',
                    border: 0,
                    style: 'display: block; width: 140px; max-width: 140px; min-width: 140px;',
                    width: '140px'
      tr
        td align="center" bgcolor="#e9ecef"
          table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;" width="100%"
            tr
              td align="left" bgcolor="#ffffff" style="padding: 36px 24px 0; font-family: 'Open Sans', Helvetica, Arial, sans-serif; border-top: 3px solid #d4dadf;"
                h1 style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;" = @subject
      tr
        td align="center" bgcolor="#e9ecef"
          table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;" width="100%"
            tr
              td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;"
                p style="margin: 0;" = yield
            - if @cta
              tr
                td align="left" bgcolor="#ffffff"
                  table border="0" cellpadding="0" cellspacing="0" width="100%"
                    tr
                      td align="center" bgcolor="#ffffff" style="padding: 12px;"
                        table border="0" cellpadding="0" cellspacing="0"
                          tr
                            td align="center" bgcolor="#1a82e2" style="border-radius: 6px;"
                              a href="#{@cta[:url]}" style="display: inline-block; padding: 16px 36px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px;" target="_blank" = @cta[:title]
              tr
                td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;"
                  p style="margin: 0;"
                    = 'Wenn das nicht funktioniert, kopieren und fügen Sie den folgenden Link in Ihren Browser ein: '
                    a href="#{@cta[:url]}" target="_blank" = @cta[:url]
            tr
              td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #d4dadf"
                p style="margin: 0;"
                  = @greeting || 'Bis bald,'
                  br/
                  = @greeter || 'Stiftung Dianiño'
      tr
        td align="center" bgcolor="#e9ecef" style="padding: 24px;"
          table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;" width="100%"
            tr
              td align="center" bgcolor="#e9ecef" style="padding: 12px 24px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;"
                p style="margin: 0;"
            tr
              td align="center" bgcolor="#e9ecef" style="padding: 12px 24px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;"
                p style="margin: 0;"
                p style="margin: 0;"
